#Ignore thumbnails created by Windows
Thumbs.db

#Ignore tool config
.vscode/

#Ignore files related to cmake
[Bb]uild*/
CMakeUserPresets.json

#Ignore files related to conan
conan.lock
conanbuildinfo.cmake
conanbuildinfo.txt
conanfile.txt
conaninfo.txt

#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
out/
packages/
.vs/

#Ignore generated doc files (for now)
doc/*.pdf
doc/*.gz

#Ignore test & example output
test/output/
example/CppCon2022/output/

#Ignore externals directory
externals/
